<div class="upload-container">
    <label class="upload-box">
        <input type="file" accept=".json,application/json" (change)="onFileSelected($event)" hidden />
        <span class="upload-icon">📁</span>
        <span>Selecciona o arrastra un archivo JSON</span>
    </label>

    @if (error()) {
    <p class="error-msg">{{ error() }}</p>
    }
</div>

<!-- @if (jsonData() !== null) {
<div class="json-tree">
    <app-json-node [label]="'Información'" [value]="jsonData()" [level]="1"></app-json-node>
</div>
} -->

<app-json-levels></app-json-levels>